:root {
  --primary-text: #020417;
  --secondary-text: #ffffff;
  --primary-main: #BD0033;
  --secondary-main: #ffffff;
  --accent-main: #D9DFF8;
  --accent-light: #F9FAFF;
  --alert: #E91818;
  --neutral: #9A9EA8;
  --default: #D1D5D8;
  --border-radius: 4px;
}


