@use './bank-info' as bi;

/*:host {
  width: 100%;
}*/

.payment-systems {
  &__title {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
  }

  &__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
  }

  &__grid-item {
    @include bi.grid-item-style;
    flex-basis: 120px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
