aside.bank-info
  div.bank-info__grid
    div.bank-info__grid-bank
      img(src="./images/rshblogocovid.png", alt="rshb")
  div.payment-systems
    p.payment-systems__title Платежные системы
    div.payment-systems__grid

      div.payment-systems__grid-item
        img(src="./images/mastercard_1.png", alt="mastercard")
      div.payment-systems__grid-item
        img(src="./images/visa_1.png", alt="visa")
      div.payment-systems__grid-item
        img(src="./images/mir_1.png", alt="mir")
      div.payment-systems__grid-item
        img(src="./images/jcb_1.png", alt="jcb")
