main.payment-form__outer
  h1.payment-form__title Прочее
  form.payment-form(action="./php/payment.php" method="post")
    input(type="hidden", name="serviceId", value="f7", tabindex="-1")

    div.payment-form__group
      label.payment-form__label ФИО плательщика
        input.payment-form__input(type="text", id="namePayer", name="namePayer", placeholder="ФИО плательщика", aria-labelledby="ФИО плательщика", tabindex="0", required)

    div.payment-form__group
      label.payment-form__label Номер договора или описание, за что оплата
        input.payment-form__input(type="text", id="contract", name="contract", placeholder="Номер договора или описание", aria-labelledby="Номер договора или описание", tabindex="0", required)

    div.payment-form__group
      label.payment-form__label Сумма
        input.payment-form__input(type="text", id="payment", name="payment", placeholder="1111.11", aria-labelledby="Сумма для оплаты", tabindex="0", required)

    button.payment-form__button.bfa-button.bfa-button-base.bfa-primary.bfa-button-disabled(type="submit", tabindex="0", aria-disabled="true", disabled) Оплатить
