header.header
  div.logo
    div.logo__img
      img(src="./images/logo.png" alt="Вятский ГАТУ")
    div.logo__title
      p ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ
      p "ВЯТСКИЙ ГОСУДАРСТВЕННЫЙ АГРОТЕХНОЛОГИЧЕСКИЙ УНИВЕРСИТЕТ"
      p ОПЛАТА УСЛУГ
